h1{
text-align: center;
}
body{
    font-family:'Times New Roman', Times, serif ;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
}
p{
    font-size: 150%;
}
li{
    font-size: 150%;
}